body{

    font-family: Helevetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

header{
    /* position: fixed; */
    display: flex;
    /* background-color: blue; */
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;

}

header img{
    margin-left: 10px;
    height: 50px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    /* background-color: red; */
}

nav p{
    text-decoration: underline;
    margin-left: 10px;
}


.sliderImg{
    display: flex;
    background-color: white;
    background-image: url('./images/img-mission-background.jpg');
    height: 700px;
    object-fit:cover;
}

.sliderText{    
    align-items: center;
    background-color: black;
    color: seashell;
    text-align: center;
    align-self: center;
    width: 1200px;
}


.teaType{
    /* width: 1000px; */
    text-align: center;
}


.typeCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.typeCard{    
    text-align: center;
    margin-right: 20px;
}

.typeCard img{
    width: 300px;
    height: 200px;
}

.desc{
    margin-top: 10px;
}

.locations{
    display: flex;
    flex-direction: column;
    height: 500px;
    background-image: url('./images/img-locations-background.jpg');
    object-fit: cover;
    justify-content: center;
    align-items: center;
    color: seashell;
    
}

.cards{
    margin-top: 15px;
    display: flex;
}

.card{
    background-color: black;
    width: 300px;
    margin-right: 40px;
    text-align: center;
    opacity: 1;
}

.contact{
    height: 200px;
   text-align: center; 
}

.copyright{
    margin-left: 20px;
    text-align: left;
}